name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'LEGACY_README_V2.md'
      - 'nuget.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'LEGACY_README_V2.md'
      - 'nuget.md'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy: 
      matrix:
        dotnet-version: [ 8.0.x, 9.0.x , 10.0.x ]

    name: Dotnet ${{ matrix.dotnet-version }}
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Build
      run: dotnet build --configuration Release
      working-directory: ./src/RESTCountries.NET

    - name: Run unit tests
      run: dotnet test --configuration Release
      working-directory: ./tests/RESTCountries.NET.Tests
